.birkhoff {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    grid-template-rows: 150px 150px 1fr;
    gap: 10px;
    grid-template-areas:
        "a c c d"
        "b c c e"
        "f f f f";
}

.birkhoff #matrix {
    grid-area: a;
}

.birkhoff #positivity {
    grid-area: b;
}

.birkhoff #canvas-container {
    grid-area: c;
    position: relative;
}

.birkhoff #graph {
    position: absolute;
    height: 100%;
    width: 100%;
}

.birkhoff #matching {
    grid-area: d;
}

.birkhoff #mask {
    grid-area: e;
}

.birkhoff #preferences {
    grid-area: f;
}
