.small-square {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 1px;
    text-align: center;
    vertical-align: middle;
    background-color: red;
}

.square {
    display: inline-block;
    min-width: 30px;
    height: 20px;
    margin: 2px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}

.square-row-title {
    display: inline-block;
    width: 5px;
    height: 20px;
    margin: 2px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}

.birkhoff-demo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#matrix {
    align-self: center;
    background-color: blue!50%;
}

#graph {
    align-self: center;
    aspect-ratio: 1;
}

#preferences {
    align-self: flex-start;
    display: grid;
}

.preferences-row {
    display: inline-flex;
}
