button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* single-rsd */

#single-rsd-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#single-rsd-view .inventory, .students {
    display: flex;
    flex-direction: row;
}

#single-rsd-view .hospital, .ranking {
    display: flex;
    flex-direction: column;
}

#single-rsd-view .hospital {
    justify-content: flex-end;
}

#single-rsd-view .square-on, .square-off, .square-current {
    display: inline-block;
    width: 20px;
    height:20px;
    margin: 2px;
    padding: 1px;
}

#single-rsd-view .square-current {
    border: 1px solid black;
    padding: 0px;
    opacity: 0.5;
}

#single-rsd-view .square-off {
    opacity: 0.2;
}

/* multi-rsd */

#multi-rsd-demo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#multi-rsd-demo .students > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#multi-rsd-demo .hospitals {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#multi-rsd-demo .hospitals > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#multi-rsd-demo .outer {
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin: 1px;
}

#multi-rsd-demo .square {
    display: inline-block;
    height: 10px;
    align-self: flex-end;
}

#multi-rsd-demo .square-on {
    display: inline-block;
    width: 20px;
    height:20px;
    margin: 2px;
    padding: 1px;
}

#multi-rsd-demo #counter {
    align-self: center;
}

/* trader demo */

#trader-demo #trade {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#trader-demo .students {
    display: inline-flex;
    align-self: center;
    margin: 4px;
}

#trader-demo .student {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 3px;
    padding: 1px;
    align-items: center;
}

#trader-demo .happiness {
    width: 40px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-family: monospace;
    font-size: small;
}

#trader-demo .hospitals {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#trader-demo .outer {
    display: inline-flex;
    width: 40px;
    height: 20px;
    margin: 1px;
}

#trader-demo .bar {
    display: inline-block;
    height: 20px;
    align-self: flex-end;
}

#trader-demo .annotation {
    position: absolute;
    width: 40px;
    text-align: center;
    line-height: 20px;
    font-family: monospace;
}
